
.inputSmall190px {
	width: 190px !important;
}

.inputSmall40px {
	width: 40px !important;
}

.inputSmall143px {
	margin: 0 0 0 3px !important;
	width: 143px !important;
}

.redPoints {
	color: #ff0000;
}
