/***********************************************************
Liste des propriétés actuellement supportées
	
	* display, block | inline
	
	* margin-top, donnée en px, pt, cm, mm
    * margin-right, donnée en px, pt, cm, mm
    * margin-bottom, donnée en px, pt, cm, mm
    * margin-left, donnée en px, pt, cm, mm
    
	* font-family : Arial | Courier | Helvetica | Times | Symbol | ZapfDingbats
    * font-size, donnée en px, pt, cm, mm
    * font-style, normal | italic
    * font-weight, bold | normal
    
    * color, donnée en #rrggbb,#rgb, RGB(,,) (should work..)
    
    * text-decoration, underline | none
    * text-transform, uppercase | lowercase | capitalize | normal
    
    * white-space, normal | pre
    

************************************************************/

body {
  display: block;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  font-family: Helvetica;
  font-size:12px;
}

h1 {
  display: block;
  margin-bottom:0;
  font-weight: bold;	
  color: #000;
  font-size: 24px;
  font-family: Courier;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 18px;
  font-family: Times;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#990000;
  text-decoration: underline;  
}

h3 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

h4 {
  display: block;
  font-weight: bold;
  font-size: 15px;  
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
}

h6 {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
}

div {
	display: block;
}

p {
  display: block;
  margin-left: 10pt;
  margin-right: 10pt;
}

dl {
  display: block;
  margin-bottom: 0.3cm;
}

dt {
  display: block;
  margin-left: 0.8cm;
  margin-top:0.5cm;
  margin-bottom:0.3cm;
  font-weight: bold;
}

dd {
  display: block;
  margin-left: 1.2cm;
}

blockquote {
  display: block;
  margin-top: 7pt;
  margin-right: 20pt;
  margin-bottom: 7pt;
  margin-left: 20pt;
}

address {
  display: block;
  font-style: italic;
  text-decoration: underline;
}

center {
  display: block;
}

pre {
  display: block;
  white-space: pre;
  margin-bottom:0;
}   

b {
  font-weight: bold;
}

strong {
	color: #000;
	font-style: italic;
	font-weight: bolder;
}

i {
  font-style: italic;
}

cite {
  font-style: italic;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

ul {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

li {
  display:block;
}

hr {
  display: block;
  border: 1px inset;
  margin: 0 auto 0 auto;
}

a {
	color: #555; 
}

q {
	font-style: italic;
}
